.hero-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: var(--mat-sys-surface);
  width: 100%;
  top: 0;
  z-index: 2;

  h1 {
    font-size: 1rem;
    letter-spacing: 2rem;
    margin-right: -2rem;
  }

  .mat-toolbar-left {
    justify-content: flex-start;
  }
  .mat-toolbar-right {
    justify-content: flex-end;
  }
}