<div class="hero-toolbar">
  <mat-toolbar class="mat-toolbar-left">
    <button mat-icon-button class="hero-icon" aria-label="hero icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Home
        </a>
        <a mat-menu-item routerLink="/hero/add" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
          Add Hero
        </a>
        <a mat-menu-item href="https://github.com/Batega21/RIU-FrontEnd-Gabriel-Gomez" ariaCurrentWhenActive="page" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </mat-menu>
    </button>
  </mat-toolbar>
  <h1>{{ title() | uppercase }}</h1>
  <mat-toolbar class="mat-toolbar-right">
    <app-search-box></app-search-box>
  </mat-toolbar>
</div>