.hero-jumbotron {
  background-image: url("/assets/img/jumbo1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
  text-align: center;
  letter-spacing: 5rem;
  margin-right: -5rem;
  z-index: 1;
  opacity: 0;
  animation: titleFadeIn 8s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes titleFadeIn {
  0% {
    opacity: 0;
    letter-spacing: 1rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    letter-spacing: 8rem;
  }
}
