.hero-detail-card {
  max-width: 800px;
  margin: 10rem auto;
  border: 6px solid #ccc;

  .mat-mdc-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    app-button-back {
      position: absolute;
      top: 1rem;
      left: 1rem;
      margin: 1rem;
    }

    .mat-mdc-card-header-text {
      text-align: center;
    }
  }
  .hero-card-actions {
    justify-content: space-between;

    &-button {
      background: #3fa3fb;
      background: linear-gradient(0deg,rgb(0, 28, 36) 0%, rgb(0, 76, 69) 25%, rgb(0, 90, 92) 100%);
      margin: 0.5rem;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
.mat-mdc-card-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 1.5rem 0;
  text-align: end;
}

.mat-mdc-card-subtitle {
  font-size: 1.2rem;
  color: #666;
}

mat-grid-list {
  margin: 10px 0;
}

.mdc-card__media {
  width: 20vw;
  margin: 2rem auto;
}
