<div class="container">
  <form [formGroup]="searchBoxForm" class="search-box">

    <button matSuffix mat-icon-button class="search-box-button search" aria-label="Search" disabled="{{ !searchBoxForm.valid }}"
      (click)="onGetAllHeroesListed($event)">
      <mat-icon>search</mat-icon>
    </button>

    <input formControlName="searchBox" class="search-box-input" type="text" name="focus" placeholder="Search" (keyup)="onFilterChange($event)"
      id="search-input" value="" #filterInput />

    @if (searchValue().length > 0) {
    <button matSuffix mat-icon-button class="search-box-button clear" aria-label="Clear" (click)="onClearFilter()">
      <mat-icon>close</mat-icon>
    </button>
    }
  </form>

  
  @if (heroesQuery().length > 0) {
    <div class="showHeroList">
    @for (hero of heroesQuery(); track hero) {
      <button mat-menu-item (click)="onSelectedHero(hero)">{{ hero }}</button>
      }
    </div>
  }
</div>